.u-rightAlign {
  text-align: right;
}

.u-centerAlign {
  text-align: center;
}

.u-boldFont {
  font-weight: 700;
}

.u-normalFont {
  font-weight: 400;
}

.u-upperCase {
  text-transform: uppercase;
}

.u-hide {
  display: none !important;
}

.u-show {
  display: inline-block !important;
}
